.modal-container {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 200px;
    max-width: 960px;
    background: white;
}

.modal-movie-poster {
    height: 450px;
}

@media(max-width: 760px) {

    .modal-movie-poster-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .modal-movie-description {
        flex-direction: column;
    }

    .modal-movie-poster {
        height: 320px;
        max-width: 100%;
    }

    .modal-movie-description-text {
        padding-left: 0;
        padding-right: 0;
    }
}